<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <div class="container">
      {{>header}}
        <div id="about-me">

          <div id="bio-container">
            <img id="bio-img"
            src="/img/NareshKumarMakwana.jpeg"
            alt="Error! Image could not be loaded."/>
            <h3>Naresh Kumar Makwana</h3>
          </div>

          <p>
            I am a computer science undergraduate from NIT Silchar. During my B.Tech. I have acquired some experience of competitive programming and
            have developed a fair understanding of data structures and algorithms.
          </p>
          <p>
            Also, I have touched upon various technologies like Node.js, Express.js
            and MongoDB alongside working on the front‑end parts which includes HTML, CSS and JavaScript. I posses good generic and algorithmic problem
            solving skills.
          </p>
          <p>
            I share familiarity with computer science fundamentals like OOPS, DBMS, OS and computer networks. 
            I am a hardworking individual with lots of creativity to offer. I believe in my communication skills and ability to adapt well in a team. 
          </p>
        
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>